body {
  background-image: url("/img/opacity25.jpg"); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover; 
}

header h1 {
  font-family: smoothy, serif;
  font-style: italic;
  color: white;
  font-size: 3rem; 
  text-align: center; 
}

.jumbotron {
  background-color: rgba(143, 0, 5);
  padding: 30px;
  margin: 0; }

#donateBtn {
  font-size: .75rem; 
  color: #5E8958; 
  font-weight: bold; 
  border-radius: 8px; 
}

nav {
  background-color: rgba(33, 33, 33); }

nav a {
  color: white; }

h2 {
  text-align: center; 
  margin-top: 20px; 
  color: rgba(143, 0, 5); 
}

.mainText {
  max-width: 80%;
  margin: auto;  
}

.lineBreak {
  max-width: 80%; 
  height: 25px; 
  margin: auto; 
  border-bottom:rgba(33, 33, 33, 0.9) solid 1px; 
  margin-bottom: 25px; 
}

footer {
  background-color: rgba(33, 33, 33, 0.8);
}

/* .footerDiv {
  margin: 0; 
  padding: 0; 
} */

#footerCredit {
  font-size: .65rem; 
  font-style: italic;
  margin: 0; 
}

/* media queries */
/* @media (min-width: 544px) {
  header h1 {
    font-size: 2rem; 
  }
} */
@media (min-width: 768px) {
  header h1 {
    font-size: 3.25rem; 
  }
  h2 {
    margin-top: 30px; 
  }

  .mainText {
    max-width: 65%; 
  }
  .lineBreak {
    max-width: 60%; 
  }
  #donateBtn {
    font-size: 1.5rem; 
  }
  footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 3.5rem; 
  }
  #donateBtn {
    font-size: 1.5rem; 
  }
}